.Navbar{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    background-color: #1a1f16;   
}

.Navbarcontent{
    display: inline-block;

}

.linkNav{
    color: #fffffc;

}

